body {
    margin: 0;

    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    /* color-scheme: light dark; */
    color: #171717;
    background-color: rgb(251, 251, 251);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    cursor: none !important;
}

*:focus {
    outline-width: 2px;
    outline-color: rgb(137, 137, 137);
    outline-offset: 4px;
}

::selection {
    background-color: rgb(255, 185, 185);
}

.title {
    max-width: 800px;
    margin: 40px auto;
}

.sandbox {
    max-width: 800px;
    margin: 80px auto;
    padding: 48px;
    border: 1px solid #e5e5e5;
}

.footnote {
    font-size: 0.6rem;
    margin-top: 100px;
    text-align: center;
}

.form {
    display: flex;
    gap: 0.5rem;
}

.text {
    margin-top: 4rem;
}

input {
    border-radius: 8px;
    border: 1px solid #dfdfdf;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.5;
    padding: 0.5rem 0.8rem;
}

input:focus {
    /* border-color: transparent; */
}

button {
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    padding: 0.5rem 1rem;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

button:hover {
    cursor: none;
    opacity: 0.85;
}

button:active {
    transform: scale(0.95);
}

button[data-loading] {
    background-color: #dfdfdf;
    color: #8f8f8f;
    opacity: 1;
}

button:disabled {
    background-color: #dfdfdf;
    color: #8f8f8f;
    opacity: 1;
}

button:disabled:active {
    transform: none;
}

a {
    color: #000000;
    font-weight: 600;
}

/* ---------- CURSOR STUFF ---------- */

.cursor {
    width: 64px;
    height: 64px;
    border-radius: 2rem;
    border-width: 1px;
    border-style: dashed;
    border-color: rgb(233, 233, 233);
    position: fixed;
    margin-left: -32px;
    margin-top: -32px;
    pointer-events: none;
    transition: border-color 0.6s, border-width 0.3s, transform 0.3s;
}

.cursor .dot {
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-2px, -2px);
    transition: all 0.2s cubic-bezier(0.77, 0, 0.18, 1);
}

.cursor .dotx {
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s cubic-bezier(0.77, 0, 0.18, 1);
}

.cursor.selectable {
}

.cursor.selectable .dot {
    border-radius: 0;
    transform: scale(0.5, 6) translate(-4px, 0);
}

.cursor.selectable .dotx {
    opacity: 0;
}

.cursor.input {
    border-color: red;
}

.cursor.input .dot {
    border-radius: 0;
    transform: scale(0.5, 6) translate(-4px, 0);
}

.cursor.input .dotx {
    opacity: 0;
}

.cursor.pointer {
    border-color: red;
}

.cursor.pointer .dot {
    transform: scale(2) translate(-1px, -1px);
    border-radius: 4px;
}

.cursor.pointer .dotx {
    opacity: 0;
    border-radius: 4px;
}

.cursor.disabled {
    transform: rotate(45deg);
    border-color: #8f8f8f;
}

.cursor.disabled .dot {
    border-radius: 0;
    transform: translate(-2px, -2px) scale(0.5, 4);
    background-color: #8f8f8f;
}

.cursor.disabled .dotx {
    border-radius: 0;
    transform: translate(-2px, -2px) scale(4, 0.5);
    background-color: #8f8f8f;
}

.cursor.loading {
    border-color: #8f8f8f;
    animation: spin infinite 8s linear;
}

.cursor.loading .dot {
    background-color: #8f8f8f;
    opacity: 0;
}

.cursor.loading .dotx {
    border-radius: 0;
    background-color: #8f8f8f;
    transform: translate(-2px, -2px) scale(4, 0.5);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
